/* Coolors Exported Palette - https://coolors.co/0d0221-0f084b-0b5351-23ce6b-511a91-f6f8ff */

/* CSS HEX */
--midnight-violet: #0d0221ff;
--deep-twilight: #0f084bff;
--dark-slate-grey: #0b5351ff;
--emerald: #23ce6bff;
--indigo-velvet: #511a91ff;
--ghost-white: #f6f8ffff;

/* CSS HSL */
--midnight-violet: hsla(261, 89%, 7%, 1);
--deep-twilight: hsla(246, 81%, 16%, 1);
--dark-slate-grey: hsla(178, 77%, 18%, 1);
--emerald: hsla(145, 71%, 47%, 1);
--indigo-velvet: hsla(268, 70%, 34%, 1);
--ghost-white: hsla(227, 100%, 98%, 1);

/* SCSS HEX */
$midnight-violet: #0d0221ff;
$deep-twilight: #0f084bff;
$dark-slate-grey: #0b5351ff;
$emerald: #23ce6bff;
$indigo-velvet: #511a91ff;
$ghost-white: #f6f8ffff;

/* SCSS HSL */
$midnight-violet: hsla(261, 89%, 7%, 1);
$deep-twilight: hsla(246, 81%, 16%, 1);
$dark-slate-grey: hsla(178, 77%, 18%, 1);
$emerald: hsla(145, 71%, 47%, 1);
$indigo-velvet: hsla(268, 70%, 34%, 1);
$ghost-white: hsla(227, 100%, 98%, 1);

/* SCSS RGB */
$midnight-violet: rgba(13, 2, 33, 1);
$deep-twilight: rgba(15, 8, 75, 1);
$dark-slate-grey: rgba(11, 83, 81, 1);
$emerald: rgba(35, 206, 107, 1);
$indigo-velvet: rgba(81, 26, 145, 1);
$ghost-white: rgba(246, 248, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0d0221ff, #0f084bff, #0b5351ff, #23ce6bff, #511a91ff, #f6f8ffff);
$gradient-right: linear-gradient(90deg, #0d0221ff, #0f084bff, #0b5351ff, #23ce6bff, #511a91ff, #f6f8ffff);
$gradient-bottom: linear-gradient(180deg, #0d0221ff, #0f084bff, #0b5351ff, #23ce6bff, #511a91ff, #f6f8ffff);
$gradient-left: linear-gradient(270deg, #0d0221ff, #0f084bff, #0b5351ff, #23ce6bff, #511a91ff, #f6f8ffff);
$gradient-top-right: linear-gradient(45deg, #0d0221ff, #0f084bff, #0b5351ff, #23ce6bff, #511a91ff, #f6f8ffff);
$gradient-bottom-right: linear-gradient(135deg, #0d0221ff, #0f084bff, #0b5351ff, #23ce6bff, #511a91ff, #f6f8ffff);
$gradient-top-left: linear-gradient(225deg, #0d0221ff, #0f084bff, #0b5351ff, #23ce6bff, #511a91ff, #f6f8ffff);
$gradient-bottom-left: linear-gradient(315deg, #0d0221ff, #0f084bff, #0b5351ff, #23ce6bff, #511a91ff, #f6f8ffff);
$gradient-radial: radial-gradient(#0d0221ff, #0f084bff, #0b5351ff, #23ce6bff, #511a91ff, #f6f8ffff);